In [2]:
!pip install mysql-connector-python pandas sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\welcome\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: pandas in c:\users\welcome\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\welcome\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\welcome\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\welcome\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\welcome\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\welcome\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\welcome\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\welcome\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\welcome\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\welcome\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mysql+pymysql://root:Prince3012@localhost/food_giants")
print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [16]:
df = pd.read_csv("C:\\Users\\Welcome\\Desktop\\FOOD GIANTS\\Datasets\\Food Giants.csv")  # Load CSV file

df.to_sql("Food_Giant", con=engine, if_exists="replace", index=False)  
# "replace" will create the table automatically and overwrite if it exists.
# Use "append" if you want to add data without deleting the existing one.

print("CSV data inserted successfully into MySQL!")

CSV data inserted successfully into MySQL!

C:\Users\Welcome\AppData\Local\Temp\ipykernel_6092\455945622.py:3: UserWarning: The provided table name 'Food_Giant' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql("Food_Giant", con=engine, if_exists="replace", index=False)

In [14]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Company
0,17/03/1980,290.00,310.00,290.00,290.00,290.00,10000,Berkshire Hathaway
1,18/03/1980,290.00,290.00,290.00,290.00,290.00,0,Berkshire Hathaway
2,19/03/1980,290.00,310.00,290.00,290.00,290.00,20000,Berkshire Hathaway
3,20/03/1980,290.00,290.00,290.00,290.00,290.00,0,Berkshire Hathaway
4,21/03/1980,290.00,290.00,290.00,290.00,290.00,0,Berkshire Hathaway
...,...,...,...,...,...,...,...,...
69544,13/09/2024,16.96,17.69,16.94,17.57,17.57,4029900,The Wendy's
69545,16/09/2024,17.59,17.98,17.57,17.73,17.73,2731200,The Wendy's
69546,17/09/2024,17.83,17.95,17.71,17.77,17.77,2453000,The Wendy's
69547,18/09/2024,17.79,17.88,17.59,17.63,17.63,2353200,The Wendy's
69548,19/09/2024,17.90,18.05,17.74,17.87,17.87,3274900,The Wendy's